.date-range-selected>.ui-state-active, .date-range-selected>.ui-state-default {
    background: none;
    background-color: lightsteelblue;
}

#jrange input {
    width: 200px;
}

#jrange div {
    font-size: 9pt;
}

.event a {
    background-color: red !important;
    color: white !important;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}